
    body {
        margin: 100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .avatar{
        width: 200px;
        border-radius: 24px;
    }
    .main{
        width: 400px;
        margin: 0 auto;
        padding: 50px;
        display: flex;
        justify-content: space-around;
        text-align: center;
        background: #ddebf8;
        color: #2b2839;
        border-bottom: 6px solid #d8cefe;
    }
    .border-blue {
        border: 1px dotted blue;
    }